In [2]:
import numpy as np
import pandas as pd

In [3]:
import json

with open('business_LV.json', 'r') as f:
    business_data = json.load(f)
    
with open('review_LV.json','r') as k:
    review_data = json.load(k)

In [4]:
business_df = pd.DataFrame(business_data)
review_df = pd.DataFrame(review_data)

In [5]:
business_df.head()
business_info = pd.DataFrame({'business_id':business_df.business_id, 'company_name':business_df.name})
business_info_dict={}
for i in range(len(business_info.index)):
    key = business_info.loc[i].business_id
    value = business_info.loc[i].company_name
    business_info_dict.update({key:value})

In [35]:
business_info.head()

              business_id                 company_name
0  N9BN9ldVl1FNzcB9_eAstw  Red Rock Bowling UYE Part 2
1  BmSJ6C7Y9s3tHotRetVbmA                    U.S. Bank
2  xmY0pzNvZKEzuN0XEqeV5w                  QQ Foot Spa
3  aj1C0D7hniEPpsTidbCQIg     Express Collision Center
4  45arahaS6jTtYBw_STLDXg             Wells Fargo Bank

In [6]:
n_users = review_df.user_id.nunique()
n_business = business_df.business_id.nunique()

print('Num. of Users: '+ str(n_users))
print('Num of Restaurants: '+str(n_business))

Num. of Users: 304524
Num of Restaurants: 24768

In [7]:
data = pd.DataFrame.sort_values(review_df,['user_id'],ascending=[0])

In [8]:
BusinessPerUser=data.user_id.value_counts()
UsersPerBusiness=data.business_id.value_counts()
User_Extracted = [ i for i in range(len(BusinessPerUser)) if BusinessPerUser[i]>50 ]
len(User_Extracted)

621

In [10]:
Users_Extracted=[]
for i in range(621):
    Users_Extracted.append(BusinessPerUser.index[i])
    
# UserId with more than 80 reviews
Users_Extracted[:10]

['bLbSNkLggFnqwNNzzq-Ijw',
 'PKEzKWv_FktMm2mGPjwd0Q',
 'UYcmGbelzRa0Q6JqzLoguw',
 'n86B7IkbU20AkxlFX_5aew',
 'N3oNEwh0qgPqPP3Em6wJXw',
 '3nDUQBjKyVor5wV0reJChg',
 'fiGqQ7pIGKyZ9G0RqWLMpg',
 'U4INQZOPSUaj8hMjLlZ3KA',
 'qewG3X2O4X6JKskxyyqFwQ',
 'C2C0GPKvzWWnP57Os9eQ0w']

In [41]:
data_index = [i for i in range(len(data)) if data.user_id[i] in Users_Extracted]
data_needed = data.loc[data_index]
len(data_needed)

58978

In [42]:
data_needed.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,N9BN9ldVl1FNzcB9_eAstw,2,2013-05-26,2,pPRcjyPMWu4eXeRyRuf-_A,5,Yeah yeah yeah...this was a while ago. Better...,2,eZZyuJDouIg4p-GYB3PV_A
2,N9BN9ldVl1FNzcB9_eAstw,4,2013-05-26,4,y3dWmTku0tMtoCrU9i-1bQ,5,"I may be the worst yelping bowler of All-time,...",2,KtIh1kjkVESCqd2CCsQnhA
3,N9BN9ldVl1FNzcB9_eAstw,2,2013-05-27,2,vf8ZasMUpu3eBK4OjZBzww,5,What's to be said that hasn't already been sai...,2,UQB87Neb-M6xbxT6hi9rcw
4,N9BN9ldVl1FNzcB9_eAstw,6,2013-05-22,6,zOZVF6k7BsjcuHhjIOTtvQ,5,Some people say that most sequels don't do the...,6,0FMte0z-repSVWSJ_BaQTg
6,N9BN9ldVl1FNzcB9_eAstw,4,2013-05-22,3,tgkdyyKPEP6A3uc_QNSajw,5,"First of all, thanks Roger for putting togethe...",4,P9yweXls2Pg-EMipYr45XA

In [43]:
del data_needed['cool']
del data_needed['funny']
del data_needed['text']
del data_needed['useful']
del data_needed['review_id']
del data_needed['date']

In [44]:
data_needed.index=range(1,58979)
data_needed.head()

              business_id  stars                 user_id
1  N9BN9ldVl1FNzcB9_eAstw      5  eZZyuJDouIg4p-GYB3PV_A
2  N9BN9ldVl1FNzcB9_eAstw      5  KtIh1kjkVESCqd2CCsQnhA
3  N9BN9ldVl1FNzcB9_eAstw      5  UQB87Neb-M6xbxT6hi9rcw
4  N9BN9ldVl1FNzcB9_eAstw      5  0FMte0z-repSVWSJ_BaQTg
5  N9BN9ldVl1FNzcB9_eAstw      5  P9yweXls2Pg-EMipYr45XA

In [45]:
n_users_extracted = data_needed.user_id.nunique()
n_items_extracted = data_needed.business_id.nunique()

print('Num. of Users: '+ str(n_users_extracted))
print('Num of Restaurant: '+str(n_items_extracted))

Num. of Users: 621
Num of Restaurant: 11631

In [50]:
data_needed.head()

,business_id,stars,user_id,company_name
0,N9BN9ldVl1FNzcB9_eAstw,5,eZZyuJDouIg4p-GYB3PV_A,Red Rock Bowling UYE Part 2
1,N9BN9ldVl1FNzcB9_eAstw,5,KtIh1kjkVESCqd2CCsQnhA,Red Rock Bowling UYE Part 2
2,N9BN9ldVl1FNzcB9_eAstw,5,UQB87Neb-M6xbxT6hi9rcw,Red Rock Bowling UYE Part 2
3,N9BN9ldVl1FNzcB9_eAstw,5,0FMte0z-repSVWSJ_BaQTg,Red Rock Bowling UYE Part 2
4,N9BN9ldVl1FNzcB9_eAstw,5,P9yweXls2Pg-EMipYr45XA,Red Rock Bowling UYE Part 2

In [47]:
data_needed = pd.merge(data_needed,business_info,on='business_id')

In [52]:
len(data_needed)

58978

In [56]:
data_needed.business_id[1]

'N9BN9ldVl1FNzcB9_eAstw'

In [57]:
company_list=[]
for i in range(len(data_needed)):
    if data_needed.business_id[i] not in company_list:
        company_list.append(data_needed.business_id[i])

In [78]:
user_list=[]
for i in range(len(data_needed)):
    if data_needed.user_id[i] not in user_list:
        user_list.append(data_needed.user_id[i])

In [130]:
company_index = pd.DataFrame(company_list, columns=['company_id'])
company_index.company_id[company_index.company_id=='QTH_XGh4rWYdd0fTW-tUDw'].index[0]

4

In [98]:
company_index.head()

               company_id
0  N9BN9ldVl1FNzcB9_eAstw
1  BmSJ6C7Y9s3tHotRetVbmA
2  aj1C0D7hniEPpsTidbCQIg
3  45arahaS6jTtYBw_STLDXg
4  QTH_XGh4rWYdd0fTW-tUDw

In [79]:
user_index = pd.DataFrame(user_list, columns=['user_id'])
user_index.head()

                  user_id
0  eZZyuJDouIg4p-GYB3PV_A
1  KtIh1kjkVESCqd2CCsQnhA
2  UQB87Neb-M6xbxT6hi9rcw
3  0FMte0z-repSVWSJ_BaQTg
4  P9yweXls2Pg-EMipYr45XA

In [80]:
data_needed.business_id[0]

'N9BN9ldVl1FNzcB9_eAstw'

In [132]:
company_id_added=[]
for i in range(len(data_needed)):
    company_id_added.append(company_index.company_id[company_index.company_id==data_needed.business_id[i]].index[0])

In [166]:
company_id_added[:10]

[0, 0, 0, 0, 0, 1, 2, 3, 4, 5]

In [134]:
user_id_added=[]
for i in range(len(data_needed)):
    user_id_added.append(user_index.user_id[user_index.user_id==data_needed.user_id[i]].index[0])

In [140]:
data_needed['business_index'] = company_id_added

In [141]:
data_needed['user_index'] = user_id_added

In [144]:
data_needed.head()

   stars                 company_name  business_index  user_index
0      5  Red Rock Bowling UYE Part 2               0           0
1      5  Red Rock Bowling UYE Part 2               0           1
2      5  Red Rock Bowling UYE Part 2               0           2
3      5  Red Rock Bowling UYE Part 2               0           3
4      5  Red Rock Bowling UYE Part 2               0           4

In [147]:
cols = data_needed.columns.tolist()
cols = cols[-1:] + cols[:-1]

['user_index', 'stars', 'company_name', 'business_index']

In [148]:
cols = cols[-1:] + cols[:-1]
cols

['business_index', 'user_index', 'stars', 'company_name']

In [149]:
data_needed = data_needed[cols]

In [151]:
data_needed.head()

   business_index  user_index  stars                 company_name
0               0           0      5  Red Rock Bowling UYE Part 2
1               0           1      5  Red Rock Bowling UYE Part 2
2               0           2      5  Red Rock Bowling UYE Part 2
3               0           3      5  Red Rock Bowling UYE Part 2
4               0           4      5  Red Rock Bowling UYE Part 2

In [143]:
del data_needed['business_id']
del data_needed['user_id']

In [152]:
from sklearn.cross_validation import train_test_split
train_data, test_data = train_test_split(data_needed, test_size=0.25)

In [153]:
train_data_matrix

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [154]:
#Create two user-item matrices, one for training and another for testing
train_data_matrix = np.zeros((n_users_extracted, n_items_extracted))
for line in train_data.itertuples():
    train_data_matrix[line[2], line[1]] = line[3]  
test_data_matrix = np.zeros((n_users_extracted, n_items_extracted))
for line in test_data.itertuples():
    test_data_matrix[line[2], line[1]] = line[3]

In [156]:
train_data_matrix

array([[ 5.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [157]:
# distance metric: Cosine similiarity
# use the pairwise_distances function from sklearn to calculate the cosine similarity. 
# the output will range from 0 to 1 since the ratings are all positive.
from sklearn.metrics.pairwise import pairwise_distances
user_similarity = pairwise_distances(train_data_matrix, metric='cosine')
item_similarity = pairwise_distances(train_data_matrix.T, metric='cosine')

In [158]:
def predict(ratings,similarity,type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis]) 
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])     
    return pred

In [159]:
# Item-Item Collaborative Filtering (similarity looking into two restaurants that are both rated by the same user)
item_prediction = predict(train_data_matrix, item_similarity, type='item')
# User-Item Collaborative Filtering (similarity looking into two users both rated the same restaurant)
user_prediction = predict(train_data_matrix, user_similarity, type='user')

In [160]:
# Use Root Mean Squared Error (RMSE) metric to evaluate accuracy of predicted ratings
from sklearn.metrics import mean_squared_error
from math import sqrt
def rmse(prediction, ground_truth):
    # We only want to consider predicted ratings that are in the test dataset 
    # Filter out all other elements in the prediction matrix with prediction[ground_truth.nonzero()].
    prediction = prediction[ground_truth.nonzero()].flatten() 
    ground_truth = ground_truth[ground_truth.nonzero()].flatten()
    return sqrt(mean_squared_error(prediction, ground_truth))

In [161]:
print('User-based CF RMSE: ' + str(rmse(user_prediction, test_data_matrix)))
print('Item-based CF RMSE: ' + str(rmse(item_prediction, test_data_matrix)))

User-based CF RMSE: 3.8045206705557084
Item-based CF RMSE: 3.860916119572719

In [ ]:
# Calculate the sparsity level of our matrix => Implement Matrix Factorization

In [163]:
sparsity=round(1.0-len(data_needed)/float(n_users_extracted*n_items_extracted),3)
print('The sparsity level of matrix is ' +  str(sparsity*100) + '%')

The sparsity level of matrix is 99.2%

In [177]:
# Model-based Collaborative Filtering - Singular Value Decomposition
# Collaborative Filtering can be formulated by approximating a matrix X by using singular value decomposition.
import scipy.sparse as sp
from scipy.sparse.linalg import svds

# get SVD components from train matrix. Choose k.
# u: (m x r) orthogonal matrix
# s: (r x r) diagonal matrix with non-negative real numbers on the diagonal(singular values of X)
# vt: (r x n) orthogonal matrix
# general equation: X =us(vt)
u, s, vt = svds(train_data_matrix, k = 21)
s_diag_matrix=np.diag(s)
X_pred = np.dot(np.dot(u, s_diag_matrix), vt)
print('User-based CF MSE: ' + str(rmse(X_pred, test_data_matrix)))

User-based CF MSE: 3.778743965225859

In [ ]:
# Results are slightly better than Memory-Based Content Filtering